[user]
	name = Alice Pote
	email = alice.writes.wrongs@gmail.com
[core]
	excludesfile = /home/alice/dotfiles/git/gitignore
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictStyle = diff3
[difftool]
	prompt = false
