[user]
	name = Alice Pote
	email = alice.writes.wrongs@gmail.com
	signingkey = A152BCF9
[core]
	excludesfile = /home/alice/dotfiles/git/gitignore
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
	conflictStyle = diff3
[difftool]
	prompt = false
[rebase]
	autosquash = true
[alias]
	db = 'branch -D'
