[user]
    name = Alice Pote
    email = alice.writes.wrongs@gmail.com
    signingkey = A152BCF9
[core]
    excludesfile = /home/alice/dotfiles/git/gitignore
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
    conflictStyle = diff3
[difftool]
    prompt = false
[rebase]
    autosquash = true
[status]
    showUntrackedFiles = all
[alias]
    db = 'branch -D'
    cc = checkout
    gd = git diff
[pull]
	ff = only
[init]
	defaultBranch = main
