[submodule "extras/gnome-terminal-colors-solarized"]
	path = extras/gnome-terminal-colors-solarized
	url = git@github.com:Anthony25/gnome-terminal-colors-solarized.git
[submodule "extras/fzf"]
	path = extras/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "extras/fonts"]
	path = extras/fonts
	url = git@github.com:powerline/fonts.git
[submodule "zsh/zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "papercolor"]
	path = papercolor
	url = git@github.com:NLKNguyen/papercolor.git
[submodule "extras/numix-solarized-gtk-theme"]
	path = extras/numix-solarized-gtk-theme
	url = git@github.com:Ferdi265/numix-solarized-gtk-theme.git
[submodule "extras/zzzfoo"]
	path = extras/zzzfoo
	url = git@github.com:andersju/zzzfoo.git
[submodule "tmux/plugins/battery"]
	path = tmux/plugins/battery
	url = https://github.com/tmux-plugins/tmux-battery
