[Unit]
Description=i3lock
Before=sleep.target

[Service]
User=alice
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/alice/Code/shellscripts/i3lock.sh

[Install]
WantedBy=sleep.target
