[Unit]
Description=xscreensaver
Before=sleep.target

[Service]
User=alice
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/xscreensaver-command -lock

[Install]
WantedBy=sleep.target
